/***********  BASE STYLES  ***************/
/** {
	box-sizing: border-box;
}*/

body {
	font-family: sans-serif;
	font-size: 1.6em;
	color: 000; 
}

p {
	// font-size: .95em;
	margin-bottom: 1.5em;
}

h1 {
	text-align: center;
}

.tagLine {
	font-style: italic;
	text-align: center;
	font-size: 1em; 
}

/* ------- COLORS ------- */


/***********  NAVIGATION  ***************/






