/***********  BASE STYLES  ***************/
/** {
	box-sizing: border-box;
}*/

body {
	font-family: sans-serif;
	font-size: 1.6em;
	color: 000; 
}

p {
	// font-size: .95em;
	margin-bottom: 1.5em;
}

h1 {
	text-align: center;
}

.tagLine {
	font-style: italic;
	text-align: center;
	font-size: 1em; 
}

.text-center {
	text-align: center;
}
.rowSpacing {
  margin-top:5px;
  margin-bottom:5px;  
}

/* ------- COLORS ------- */
/* 
#58595B; UT Smokey   
#FF8200; TN Orange
White, Black
(OLD: #6495ED, cornflowerblue)
*/



/***********  NAVIGATION  ***************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
	background: #58595B; 
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
	font-size: 1em;
}

nav li {
	display: inline;
	padding: 0 1em 0 1em;
	margin-right: 0.5em;
}

nav a {
	color: #fff;
}



// nav a:visited {
// 	color: #5CC9F5;  //Maya Blue 
// } 

/* selected nav link */
nav a.selected  {
	color: #FF8200; /* TN Orange*/
}

nav a:hover {
	color: #FF8200; /* TN Orange*/
	text-decoration: underline;
	font-weight: bold;
}

a:focus {
	color: #FF8200; /* TN Orange*/
	text-decoration: underline;
	font-weight: bold;
	// color: white;
	// background-color: #FF8200;
}



/***********  Display Timelines Dropdown Button  ***************/

