

<p>display.html</p>


<center>
<select name="" form="">
	<option value="">Choose a View</option>
  <option value="">Chart</option>
  <option value="">Classic Timeline</option>
  <option value="">Time Columns</option>
</select>
</center>

	<ul>
	    <li><a ng-href="#!/displayChart">Display Chart</a></li>
	    <li><a ng-href="#!/displayTimeline">Display Timeline</a></li>
	</ul>
	<br>
<!-- <div ng-view></div> -->

<!-- <img src="images/mockup-timeline.png"> -->

<center>
<br><br>
<button>Export</button>
<button>Print</button>
<button>Make Soundtrack</button>

</center>