

<p>display.html</p>
<ul class="displayNav">
		<li><a ng-href="#!/displayVertical">[Vertical]</a></li>
    <li><a ng-href="#!/displayChart">[Chart]</a></li>
    <li><a ng-href="#!/displayTimeline">[Timeline]</a></li>
    <li><a ng-href="#!/displayAsciiOldSchool">[ASCII]</a></li>
</ul>
<br>


<center>

<select ng-model="selectDisplay" ng-options="x for x in displayTimeline">
</select>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.names = ["Emil", "Tobias", "Linus"];
});
</script>


	<!-- <select name="" form="" autofocus>
	  <option value="">Vertical Timeline</option>
	  <option value="">Chart</option>
	  <option value="">Time Columns</option>
	</select> -->

<!-- <button>Export</button> -->
<button> Print</button>
<!-- <button>Make Soundtrack</button> -->

</center>




