

<ul class="displayNav">
	<li><a ng-href="#!/displayVertical">[Timeline]</a></li>
    <li><a ng-href="#!/displayChart">[Chart]</a></li>
    <li><a ng-href="#!/displayJournal">[Journal]</a></li>
</ul>
<br>

 <!-- Used Angular for this table. -->
<center>
<table width="90%" class="angTbl">
		<th class="angTh">Date</th>
		<th class="angTh">Song</th>
		<th class="angTh">Journal Entry</th>
  <tr ng-repeat="item in eventArray | orderBy:'+date'" >
    <td width="10%" class="angTd">{{item.date}}</td>
    <td width="20%" class="angTd">{{item.eventTitle}}</td>
    <td width="60%" class="angTd">{{item.journalEntry}}</td>
  </tr>
</table>
</center>



<!-- Code to sort date field -->
    <!-- <div ng-app="myApp" ng-controller="myController"> -->
        <!-- FOR '-joinDate' THE PREDICATE IS SET USING '-' (HYPHEN) KEY FOR DESCENDING ORDER. -->
        <!-- <div ng-repeat="emps in empArray | orderBy : '-joinDate'">
            <div> {{ emps.joinDate | date : 'dd/MM/yyyy' }} : {{ emps.values.name }} </div>
        </div>
    </div> -->


