

<ul class="displayNav">
		<li><a ng-href="#!/displayVertical">[Timeline]</a></li>
    <li><a ng-href="#!/displayChart">[Chart]</a></li>
</ul>
<br>

 <!-- Used Angular for this table. -->
<center>
<table width="90%">
		<th>Date</th>
		<th>Song</th>
		<th>Journal Entry</th>
  <tr ng-repeat="item in eventArray | orderBy:'+date'" >
    <td width="10%">{{item.date}}</td>
    <td width="20%">{{item.eventTitle}}</td>
    <td width="60%">{{item.journalEntry}}</td>
  </tr>
</table>
</center>



<!-- Code to sort date field -->
    <!-- <div ng-app="myApp" ng-controller="myController"> -->
        <!-- FOR '-joinDate' THE PREDICATE IS SET USING '-' (HYPHEN) KEY FOR DESCENDING ORDER. -->
        <!-- <div ng-repeat="emps in empArray | orderBy : '-joinDate'">
            <div> {{ emps.joinDate | date : 'dd/MM/yyyy' }} : {{ emps.values.name }} </div>
        </div>
    </div> -->


