

<ul class="displayNav">
		<li><a ng-href="#!/displayVertical">[Timeline]</a></li>
    <li><a ng-href="#!/displayChart">[Chart]</a></li>

</ul>
<br>


<center>
<table class="noBorder angTbl">
  <tr ng-repeat="item in eventArray | orderBy:'+date'" id="asciiVertical" ng-class-odd="'odd'" ng-class-even="'even'">
    <td class="angTd">{{item.date}} ---</td>
  	<td class="angTd">--- <img style="width: 75px; height: 75px; display:inline;"  ng-src="{{item.image}}"  title="{{item.journalEntry}}">   --- {{item.eventTitle}}</td>
  </tr>
  <!-- Angular-Tooltips -->
  <!-- Call the directive wherever you want in your html page
<a href="#" tooltips tooltip-template="tooltip">Tooltip me</a> -->
</table>

<br>
</center>




