<p>displayChart.html</p>

<ul class="displayNav">
		<li><a ng-href="#!/displayAsciiVertical">[Vertical]</a></li>
    <li><a ng-href="#!/displayChart">[Chart]</a></li>
    <li><a ng-href="#!/displayTimeline">[Timeline]</a></li>
    <li><a ng-href="#!/displayAsciiOldSchool">[ASCII]</a></li>
</ul>
<br>

 <!-- Used Angular for this table. -->
<center>
<table>
		<th>Date</th>
		<th>Song</th>
		<th>Journal Entry</th>
  <tr ng-repeat="item in eventArray | orderBy:'+date'">
    <td>{{item.date}}</td>
    <td>{{item.eventTitle}}</td>
    <td>{{item.journalEntry}}</td>
  </tr>
</table>
</center>