<p>timelineForm.html</p>
<!-- [ ] Do I need to do a separate factory? -->
<!-- Used Bootstrap to display data -->

<button ng-click="randomPrompt()">Prompt Ideas</button>
<br>

<!-- Input data into database -->
<div class="panel-body">
    <div class="text-center">
        <!-- hidden id field used to show data -->
        <input type="hidden" ng-model="entry.id"/>
       
        <div class="col-xs-1">
          <label>Date</label>
          <input type="text" class="form-control" placeholder="2018-04-21" ng-model="entry.date"/>
        </div>

        <div class="col-xs-3">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Song Title" ng-model="entry.eventTitle"/>
        </div>
        <div class="col-xs-4">
          <label>Journal Entry</label>
          <input type="text" class="form-control" placeholder="This song reminds me when..." ng-model="entry.journalEntry"/>
        </div>
        <div class="col-xs-2">
           <label>Image Link/URL</label>
          <input type="text" class="form-control" placeholder="http://www.albumImage.com" ng-model="entry.image"/>
        </div>
        <div class="col-xs-1">
          <label>Clear Row</label>
          <button class="addBtn btn btn-default" ng-click="clearInfo()">Clear</button>
      </div> 
      <div class="col-xs-1">
        <label>Add/Update</label>
        <button class="addBtn btn btn-success" ng-click="addInfo()">Submit</button>
      </div>    
    </div>
</div>


  <!-- Show data.Loops over eventArray. Used Bootstrap to display data. -->
    <div ng-repeat="item in eventArray | orderBy:'+date'">
      <div class="panel-body">
        <div class="col-xs-1 rowSpacing">{{item.date}}</div>
        <div class="col-xs-2 rowSpacing">{{item.eventTitle}}</div>
          <div class="col-xs-3">            
            <button ng-click="editEvent(item.id)" class="btn btn-link row margin-row">[Edit]</button>

            <button ng-click="editEvent(item.id)" class="btn btn-link">[View Details]</button> 

            <button ng-click="deleteEvent(item.id)" id="deleteBtn" class="btn btn-link">[Delete]</button>
          </div>
          
        <!-- <div class="col-xs-2 rowSpacing">{{item.image}}</div> -->
        <img style="width: 75px; height: 75px; display: block;" alt="" class="" src="{{item.image}}">
          <div class="col-xs-6"></div>
      </div>
    </div>





 
