<p>timelineForm.html</p>

<form>
    <div>
        <label>Date</label>
        <input type="text" class="form-control" placeholder="1/12/18" ng-model=""/>
    </div>
    <div>
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Song Title" ng-model=""/>
    </div>
    <div>
        <label>Journal Entry</label>
        <input type="text" class="form-control" placeholder="Write details" ng-model=""/>
    </div>
    
    <div class="text-center">
        <button class="addBtn" ng-click="">ADD</button>    
    </div>
</form>